.portfolio {
  padding: 50px 70px 106px;
}

.portfolio__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__links-list {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  list-style: none;
}

.portfolio__links-item {
  padding: 20px 0 19px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__links-item:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.portfolio__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 71px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 530px) {
  .portfolio {
    padding: 0 14px 51px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__links-list {
    padding-top: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-icon {
    width: 11px;
  }
}
