.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}

.navigation__desktop-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.navigation__site-link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation__site-link_white {
  color: #FFFFFF;
}

.navigation__site-link_active {
  font-weight: 500;
}

.navigation__user-register {
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.navigation__user-register_white {
  color: #FFFFFF;
}

.navigation__user-login {
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.navigation__user-profile {
  padding: 8px 20px;
  margin-left: auto;
  background-color: #F9F9F9;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.navigation__menu-open {
  background-image: url("./../../images/open-menu-button-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  padding: 0;
  display: none;
}

.navigation__menu-open_white {
  background-image: url("./../../images/open-menu-button-white.svg");
}

.mobile-menu {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  justify-content: flex-end;
}

.mobile-menu_is-open {
  display: flex;
}

.mobile-menu__links {
  padding: 160px 90px 90px;
  background-color: white;
  height: 100vh;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.mobile-menu__close {
  position: absolute;
  top:27px;
  right: 27px;
  background-image: url("./../../images/close-menu-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
  padding: 0;
  transform: rotate(-45deg);
}

.mobile-menu__site-link {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.mobile-menu__site-link_active {
  text-decoration: underline;
}

.mobile-menu__user-profile {
  padding: 8px 20px;
  margin-top: auto;
  background-color: #F9F9F9;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navigation__desktop-menu {
    display: none;
  }

  .navigation__menu-open {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .navigation {
    gap: 16px;
  }

  .navigation__desktop-menu {
    display: none;
  }

  .navigation__user-register {
    font-size: 10px;
  }

  .navigation__user-login {
    font-size: 10px;
  }

  .mobile-menu__close {
    top:18px;
    right: 18px;
  }

  .mobile-menu__links {
    padding: 144px 30px 46px;
    width: 100%;
  }

  .mobile-menu__site-link {
    margin-bottom: 24px;
  }
}
