.search-form {
  padding: 0 70px;
}

.search-form__form {
  padding-top: 80px;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search-form__input {
  flex-grow: 1;
  padding: 15px 22px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #F9F9F9;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
}

.search-form__filter {
  padding: 30px 0 35px;
  display: flex;
  justify-content: center;
}

.search-form__submit {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 44px;
  background-color: #FF6838;
  border: none;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.search-form__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search-form__hint {
  position: absolute;
  left: 22px;
  bottom: -25px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    padding: 0 14px;
  }

  .search-form__input {
    padding: 13px 16px;
  }

  .search-form__filter {
    padding: 44px 0 40px;
  }
}
