.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 530px) {
  .register {
    padding: 0 30px;
    align-items: start;
  }
}
