.footer {
  background-color: #FAFAFA;
  padding: 60px 70px 0;
}

.footer__caption {
  margin: 0;
  padding: 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
}

.footer__wrap {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__links-item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}
