.about-me {
  padding: 110px 70px 50px;
}

.about-me__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__wrap {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.about-me__name {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__profile {
  margin: 0;
  padding-top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-me__description {
  margin: 0;
  max-width: 600px;
  padding-top: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.about-me__links-list {
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.about-me__links-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.about-me__photo {
  max-width: 270px;
  object-fit: cover;
  border-radius: 10px;
}
